<div class="container">

	<div class="row">

		<div class="col-xs-12">

			<h2>Redigera {{client.name}}</h2>

			<form action="/client/update/" class="form" method="post">

				<input type="hidden" name="redirect_url" id="redirect_url" value="{{http_referer}}" />

				<input type="hidden" name="id" id="id" value="{{client.id}}" />

				<div class="form-group">

					<label for="name">Namn</label>
					<input type="text" class="form-control" name="name" id="name" value="{{client.name}}" placeholder="Ex: Mitt projekt" />

				</div>

				<div class="form-group m-b-md">

					<select name="theme" id="theme" class="form-control">

						<option value="inverse">Välj tema</option>
						<option value="inverse" {% if 'inverse' == client.theme %} selected="selected"{% endif %}>Mörkt</option>
						<option value="light" {% if 'light' == client.theme %} selected="selected"{% endif %}>Ljust</option>

					</select>

				</div>

				<div class="form-group">

					<input type="submit" class="btn btn-primary" value="Uppdatera" />

				</div>

			</form>

		</div>

	</div>

</div>