<!DOCTYPE html>

<html>
    
    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Digital Strategi{% if title %} - {% endif %}{{title}}</title>    
        
        <!-- Bootstrap Dashboard Toolkit -->
        {% if current_user %}
            <link href="/css/toolkit-{{current_user.client.theme}}.min.css" rel="stylesheet">
        {% else %}
            <link href="/css/toolkit-inverse.min.css" rel="stylesheet">
        {% endif %}

        <!-- Fontawesone -->
        {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> #}
        <link rel="stylesheet" href="/css/font-awesome.min.css">

        <!-- Daterange Picker -->
        {# <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" /> #}
        <link rel="stylesheet" href="/css/daterangepicker.css">

        <!-- Daterange Picker -->
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <!-- pace -->
        <script data-pace-options='{ "restartOnRequestAfter": false }' src="/js/pace.min.js"></script>

        <!-- Load the JavaScript API client and Sign-in library. -->
        <script src="https://apis.google.com/js/client:platform.js"></script>
        
        <script src="/js/jquery-3.1.1.min.js"></script>
        {# <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> #}
        <script src="/js/jquery-ui.min.js"></script>
        {# <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.4.4/parsley.js"></script> #}
        <script type="text/javascript" src="/js/parsley.js"></script>
        <script src="/js/toolkit.min.js"></script>
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script> #}
        <script src="/js/Chart.bundle.min.js"></script>
        {# <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> #}
        <script type="text/javascript" src="/js/moment.min.js"></script>
        {# <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script> #}
        <script type="text/javascript" src="/js/daterangepicker.js"></script>
        {# <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.6/js/bootstrap-colorpicker.min.js"></script> #}
        <script type="text/javascript" src="/js/bootstrap-colorpicker.min.js"></script>

    </head>
    
    <body class="body-{{current_user.client.theme}}">

        <div class="pace-bg"></div>
    
        {% if current_user %}
            {% include "menu.twig" %}
        {% endif %}

