<div class="container">

	<div class="row">

		<div class="col-xs-12">

			<h1 class="intro">404</h1>

			<p>Hej {{current_user.name}}, sidan du vill besöka finns inte. Vänligen använd menyn ovan, eller nedan, för att hitta rätt.</p>

		</div>

		<div class="col-xs-12 m-t-md">

			<ul class="nav nav-bordered nav-stacked">
				<li class="nav-header">Sidförslag</li>
				<li class="nav-item">
					<a class="nav-link" href="/project/showlist/">Projekt</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/user/settings/">Inställningar</a>
				</li>
				<li class="nav-divider"></li>
			</ul>

		</div>

	</div>

</div>