<nav class="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Växla navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="icon icon-line-graph"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
            <ul class="nav navbar-nav">
    
                {% if current_user.admin %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Användare <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/showlist">Lista alla</a></li>
                            <li><a href="/user/add">Lägg till</a></li>
                            <!--<li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>-->
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kunder <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/client/showlist">Lista alla</a></li>
                            <li><a href="/client/add">Lägg till</a></li>
                            <!--<li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>-->
                        </ul>
                    </li>
        
                    {# <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projekt <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/project/showlist">Lista alla</a></li>
                            <li><a href="/project/add">Lägg till</a></li>
                            <!--<li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>-->
                        </ul>
                    </li> #}

                {% else %} 
                    <li><a href="/project/showlist">Projekt</a></li>
                {% endif %}
      
            </ul>
      
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inställningar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if current_user.admin %}
                            <li><a href="/settings/edit">Inställningar</a></li>
                        {% endif %}
                        <li><a href="/user/edit">Min profil</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                    </ul>
                </li>
                <li><a href="/user/logout" data-type="confirm" data-message="Logga ut?">Logga ut {{current_user.name}}</a></li>
            </ul>

      <!--<form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Sök</button>
      </form>-->

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>