<div class="modal fade" id="modal">
	
	<div class="modal-dialog modal-sm">
	
		<div class="modal-content">
	
			<div class="modal-header">
			
				<button type="button" class="close" data-dismiss="modal" aria-label="Stäng"><span aria-hidden="true">&times;</span></button>

				<h4 class="modal-title" id="modal-title">Small modal</h4>

			</div>

			<div class="modal-body" id="modal-body">

				<p>Modal body text...</p>

			</div>

			<div class="modal-actions">

				<button type="button" class="btn-link modal-action" id="modal-save">Spara</button>
				
				<button type="button" class="btn-link modal-action" data-dismiss="modal"><strong>Avbryt</strong></button>

			</div>

		</div>
	
	</div>

</div>