{% if not current_user.admin %}
	<script>window.location.href = "/"</script>
{% endif %}

<div class="container">

	<div class="row">

		<div class="col-xs-12">

			<h2>Inställningar</h2>
			
		</div>

		<div class="col-xs-12">

			<div class="hr-divider m-t-md m-b">
				<h3 class="hr-divider-content hr-divider-heading">
					E-post som läggs till i Google Analytics
				</h3>
			</div>

			<p>{{email}}</p>

		</div>

		<div class="col-xs-12">

			<div class="hr-divider m-t-md m-b">
				<h3 class="hr-divider-content hr-divider-heading">
					Uppdatera data manuellt
				</h3>
			</div>

			<button class="btn btn-primary" type="button" data-type="json-storedata" data-href="/account/json_store_data_for_all_connected_views/">
				<i class="fa fa-history" aria-hidden="true"></i>
				Uppdatera
			</button>

		</div>

	</div>

</div>