{% if not current_user.admin %}
	<script>window.location.href = "/"</script>
{% endif %}

<div class="container">

	<div class="row">

		<div class="col-xs-12">

			<h2>Inställningar</h2>
			
		</div>

	</div>

</div>